.footer{
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.footerContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    fdc
    justify-content: space-between;
}
.fLists{
    display: flex;
    margin-bottom: 50px;
}

.fList{
    list-style: none;
    padding: 0;
}

.fListItem{
    margin-bottom: 10px;
    color: #003508;
    cursor: pointer;
}