.hotelContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.hotelWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titleWithButt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reserveButton{
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.hotelImgWrapper{
    width: 33%;
}
.hotelAddress{
    font-size: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.hotelDistance{
    color: #0071c2;
    font-weight: 500;
}
.hotelPriceHighLight{
    color: #008009;
    font-weight: 500;
}
.hotelImg{
    width: 100%;
}
.hotelTitle{
    font-size: 24px;
}
.hotelImage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotelDetails{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.hotelDetailText{
    flex: 3;
}
.hotelDetailsPrice{
    flex: 1;
    background-color: #efb3ff;
}